[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
argparse = "*"
matplotlib = "*"
numpy = "*"
networkx = "*"
pyftpdlib = "*"
urllib3 = "*"
pygeoip = "*"
pillow = "*"
pythonturtle = "*"
wxpython = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.9"
